@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
    background:#231F20;
    text-align:center;
  }

  h1         {
    color:#FFF;
    font-family:'Oswald';
    font-weight:700;
    position:relative;  
    margin:30px auto;
    text-transform:uppercase;
    width:550px;
  }

  h1::before{
    content:'';
    display:inline-block;
    background-color: #4A90E2;
    position: bottom;
    margin-right: 15px;
    height: 28px;
    width: 25px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-radius: url(https://cssboxshadow.com/border-radius/);
  }

  h1::after{
    content:'';
    display:inline-block;
    background-color: #4A90E2;
    position: bottom;
    margin-left: 15px;
    height: 28px;
    width: 25px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-radius: url(https://cssboxshadow.com/border-radius/);
  }