body {
    font-size: 1.5em;
    font-family: sans-serif;
    color: whitesmoke;
    background-color:rgb(71, 74, 75);
    margin: 30px;
  }

.container{
   height: 800px;
   display: grid;
   grid-gap: 3px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 60px 1fr 200px 60px; 
}

.header{
    background-color: lightskyblue;
    grid-area:h;
}

.main{
    background-color:lightcoral;
    grid-area:m;
}

.area{
    background-color:lightgreen;
    grid-area:a;
}

.footer{
    background-color:rgb(120, 120, 245);
    grid-area:f;
}

@media (min-width: 2px){                                                          
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 60px 1fr 200px 60px;                                                                             
        grid-template-areas:
         "h h"
         "m m"
         "a a"
         "f f";                                                             
    }                                                                                
}              

@media (min-width: 450px) {                                                          
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 200px 60px;                                                                             
        grid-template-areas:
         "h m m m"
         "h a a a"
         "h f f f";                                                             
    }                                                                                
}       

@media (min-width: 1000px) {                                                          
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 60px;                                                                             
        grid-template-areas:
         "h m m a"
         "h f f a";                                                                     
    }                                                                                
}     